<a href="https://colab.research.google.com/github/worldbank/dec-python-course/blob/solutions-s3/solutions_s3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.5. Exercises: install and use matplotlib
The following exercises are meant to be completed step by step. Upon successful completion of all steps, the last cell should execute without any `AssertionError` or the prompt "Remove this line after filling in your own code".

### Step 1. 

Run a command to find out what is the current installed version of `matplotlib`:

In [1]:
# hint: use ! and bash command `pip freeze` and pipe the results to bash command `grep matplotlib`
!pip freeze | grep matplotlib

matplotlib==3.5.2
matplotlib-venn==0.11.7

### Step 2. 

Install version 3.5.2 of `matplotlib` for this notebook. Upon successful installation, click on "RESTART RUNTIME" in the code cell output.

In [2]:
# hint: use ! and bash command `pip install`
!pip install matplotlib==3.5.2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib==3.5.2 in /usr/local/lib/python3.7/dist-packages (3.5.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.2) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.2) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.2) (1.4.4)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.2) (1.21.6)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.2) (7.1.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.2) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.2) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.2) (4.37.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib==3.5.2) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib==3.5.2) (1.15.0)

### Step 3.

Import `matplotlib`'s `pyplot` module and alias it as `plt`

In [3]:
# hint: use `import ... as ...`
import matplotlib.pyplot as plt

# alternative solution:
from matplotlib import pyplot as plt

# === Do not modify code below ===
fig = plt.figure(figsize=(10, 80))
assert hasattr(fig, "subfigures"),\
 "If correct version of matplotlib were installed you should not see this message"

print("Well done!")

Well done!

If you have successfully completed the above exercies and are feeling adventurous, head over to `foundations-s3-bonus.ipynb` – it contains some bonus content and corresponding exercises on this topic.

## 2.3. Exercises: vector dot product

Task: Calculate the dot product of vector `(1, 2, 3)` with itself.

The following exercises are meant to be completed step by step. Upon successful completion of all steps, the last cell should execute without any `AssertionError` or the prompt "Remove this line after filling in your own code".

### Step 1. 

Represent vector `(1, 2, 3)` as a 1-d NumPy array of shape (3, ) and store in variable `a`:

In [4]:
# hint: use np.array or np.arange
import numpy as np

a = np.array((1, 2, 3))

# === Do not modify code below ===
assert a.shape == (3, )
assert a[0] == 1
assert a[1] == 2

### Step 2. 

Implement the dot product calculation and store the result in variable `result`:

In [5]:
# hint: use tranpose or reshap, then sum or np.sum
result = sum(a * a)

# === Do not modify code below ===
assert result == 14

## 2.5. Exercises: vector dot product - the easy way

**Task**: Calculate the dot product of vector `(1, 2, 3)` with itself **using one of NumPy's universal functions**. Store the result in variable `dot_result`:

In [6]:
a = np.array([1, 2, 3])
dot_result = np.dot(a, a)

# === Do not modify code below ===
assert dot_result == 14

## 3.2.5. Exercises: read and explore excel data

Let's first prepare our environment with the latest version of the xlrd library. It's for reading data and formatting information from Excel files in the historical .xls format. After the installation completes, you will see a "RESTART RUNTIME" button, click on it to restart the environment so we can start using the newly installed library.

In [7]:
!pip install xlrd --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.2 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

#### Step 1.

Create a `DataFrame` by reading in the excel file from the given URL stored in the `exercise_data_url` variable. There are 3 sheets in the excel file, we only want the last sheet.

Store the resulting DataFrame in a variable named `sg_cars_excel`:

In [8]:
import pandas as pd

exercise_data_url = 'https://raw.githubusercontent.com/worldbank/dec-python-course/main/1-foundations/3-numpy-and-pandas/data/Singapore_Annual_New_Car_Registrations_by_make_type.xls'

sg_cars_excel = pd.read_excel(exercise_data_url, sheet_name=-1)
# hint: use pd.read_excel, note sheet index starts with 0
# Your code here

assert sg_cars_excel.shape == (79, 12)

#### Step 2.

Inspect the first 3 and last 5 rows of `sg_cars_excel`:

In [9]:
# hint: use head
sg_cars_excel.head(3)

,TOTAL ANNUAL NEW REGISTRATION OF CARS BY MAKE 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Make,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
1,Alfa Romeo,48.0,49.0,17.0,35.0,31.0,39.0,12.0,50.0,60.0,39.0,37.0
2,Alpina,NaN,NaN,NaN,8.0,9.0,12.0,23.0,11.0,2.0,8.0,2.0

In [10]:
# hint: use tail
sg_cars_excel.tail()

,TOTAL ANNUAL NEW REGISTRATION OF CARS BY MAKE 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
74,Volvo,835.0,1066.0,938.0,910.0,1274.0,1485.0,1526.0,1416.0,874.0,712.0,510.0
75,Others,25.0,14.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Total,28270.0,27899.0,22472.0,28932.0,57589.0,87504.0,91922.0,80281.0,72344.0,44465.0,45442.0
77,Note :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,1 Figures include all tax exempted and VQS e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Step 3.

Notice the first value row is in fact the years and should be used as the column names. The DataFrame also contains 3 footer rows we want to exclude. Fix it either by re-reading the excel file with additional parameters or by manipulating the DataFrame.

Store the fixed DataFrame in `sg_cars_excel_fixed`:

In [11]:
# hint: if re-reading, check out the arguments: header=, skipfooter=
# Rereading solution:
sg_cars_excel_fixed = pd.read_excel(exercise_data_url, sheet_name=-1, header=1, skipfooter=3)

assert sg_cars_excel_fixed.columns[1] == 2011
assert sg_cars_excel_fixed.columns[-1] == 2021
assert sg_cars_excel_fixed.Make.iloc[0] == 'Alfa Romeo'
assert sg_cars_excel_fixed.Make.iloc[-1] == 'Others'
assert sg_cars_excel_fixed.shape == (75, 12)

#### Step 4.

Inspect the summary statistics for every year:

In [12]:
# hint: use describe

sg_cars_excel_fixed.describe()

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,44.000000,46.00000,41.000000,50.000000,51.000000,50.000000,55.000000,52.000000,53.000000,54.000000,52.000000
mean,642.500000,606.50000,548.097561,578.640000,1129.196078,1750.080000,1671.309091,1543.865385,1364.981132,823.425926,873.884615
std,1159.757623,1212.36822,1037.253990,1165.133955,2343.949189,3984.372979,3691.492641,3183.009749,3031.949306,1700.111268,1841.594478
min,7.000000,5.00000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,41.500000,34.00000,23.000000,6.000000,3.500000,10.000000,8.000000,17.250000,14.000000,7.250000,24.500000
50%,208.500000,96.00000,125.000000,74.500000,73.000000,260.000000,199.000000,147.500000,103.000000,99.500000,135.500000
75%,599.250000,489.50000,423.000000,366.500000,980.000000,1317.250000,864.500000,905.250000,849.000000,642.500000,563.000000
max,4959.000000,5039.00000,3871.000000,5431.000000,12171.000000,19349.000000,19133.000000,15040.000000,15205.000000,7704.000000,9633.000000

#### Step 5.

Isolate the registration numbers for the following 3 makes: "Mercedes Benz", "Toyota", "Kia". Store the resulting DataFrame in variable `sg_cars_excel_subset`:

In [13]:
# hint: use boolean indexing with isin
sg_cars_excel_subset = sg_cars_excel_fixed[sg_cars_excel_fixed.Make.isin(["Mercedes Benz", "Toyota", "Kia"])]

assert sg_cars_excel_subset.shape == (3, 12)
assert "Mercedes Benz" in sg_cars_excel_subset.Make.values
assert "Toyota" in sg_cars_excel_subset.Make.values
assert "Kia" in sg_cars_excel_subset.Make.values

#### Step 6.

Only select the `Make` column and year 2019, 2020, and 2021 from the `sg_cars_excel_subset` DataFrame.

Store the result in variable `sg_cars_excel_subsubset`:

In [14]:
# hint: use column selection
sg_cars_excel_subsubset = sg_cars_excel_subset[['Make', 2019, 2020, 2021]]

assert sg_cars_excel_subsubset.shape == (3, 4)
assert sg_cars_excel_subsubset.columns.to_list() == ['Make', 2019, 2020, 2021]

## 3.3.6. Exercises: improve merging with index difference and outer join

You might have noticed we weren't being very careful with the merger of the annual and monthly data for comparison, because by performing an inner join, only make-year keys present in both datasets will be included for comparison. It's possible that some make-year keys are only present in the annual data, others only present in the monthly data. How can we find out if there are such discrepancies?

In [15]:
# Execute this code cell to prepare the dataset for exercises below

import pandas as pd
import numpy as np

# read and clean the monthly dataset
cars_monthly = pd.read_csv('https://raw.githubusercontent.com/worldbank/dec-python-course/main/1-foundations/3-numpy-and-pandas/data/Singapore_Monthly_New_Car_Registrations_by_make_type.csv')
cars_monthly.dropna(subset=['number'], inplace=True)

cars_monthly_renamed = cars_monthly.rename(columns={'month': 'year_month'})
cars_monthly_renamed[['year','month']] = cars_monthly_renamed.year_month.str.split("-", expand=True)
cars_monthly_dropped = cars_monthly_renamed.drop(columns=['year_month'])

columns_ordered = ['year', 'month', 'make', 'fuel_type', 'vehicle_type', 'number']
cars_monthly_reordered = cars_monthly_dropped.reindex(columns=columns_ordered)

cars_monthly_converted = cars_monthly_reordered.astype({
    'number': 'int', 'year': 'int', 'month': 'int'})

cars_monthly_nonzero = cars_monthly_converted[cars_monthly_converted.number > 0]
cars_monthly_pivoted = cars_monthly_nonzero.pivot_table(index='make', columns='year', values='number', aggfunc='sum')
cars_monthly_melted = cars_monthly_pivoted.melt(var_name='year', value_name='number', ignore_index=False)

cars_monthly_reset = cars_monthly_melted.dropna().reset_index()

# read and clean the annual dataset
file_url = 'https://raw.githubusercontent.com/worldbank/dec-python-course/main/1-foundations/3-numpy-and-pandas/data/Singapore_Annual_New_Car_Registrations_by_make_type.csv'
singapore_cars = pd.read_csv(file_url)
singapore_cars_cleaned = singapore_cars[~np.isnan(singapore_cars.number)]
cars_annually_aggregated = singapore_cars_cleaned.pivot_table(index='make', columns='year', values='number', aggfunc='sum')
cars_annually_melted = cars_annually_aggregated.melt(var_name='year', value_name='number', ignore_index=False)
cars_annually_reset = cars_annually_melted.dropna().reset_index()

In [16]:
cars_monthly_reset

             make  year  number
0      ALFA ROMEO  2016    39.0
1          ALPINA  2016    12.0
2    ASTON MARTIN  2016    14.0
3            AUDI  2016  2360.0
4          B.M.W.  2016  4582.0
..            ...   ...     ...
368         TESLA  2022   315.0
369        TOYOTA  2022  3545.0
370       TRIUMPH  2022     2.0
371    VOLKSWAGEN  2022   241.0
372         VOLVO  2022   185.0

[373 rows x 3 columns]

In [17]:
cars_annually_reset

             make  year  number
0      ALFA ROMEO  2015    31.0
1          ALPINA  2015     9.0
2    ASTON MARTIN  2015     5.0
3            AUDI  2015  2093.0
4          AUSTIN  2015     2.0
..            ...   ...     ...
362        SUZUKI  2021   378.0
363         TESLA  2021   924.0
364        TOYOTA  2021  9633.0
365    VOLKSWAGEN  2021   915.0
366         VOLVO  2021   510.0

[367 rows x 3 columns]

#### Step 1.

Recall the annual data cover year 2015-2021, while the monthly cover year 2016-2022, so let's take out 2015 from the annual data (store the result in `cars_annually_16_21`), and filter out 2022 from the monthly (store the result in `cars_monthly_16_21`):

In [18]:
# hint: use subsetting with boolean indexing
cars_annually_16_21 = cars_annually_reset[cars_annually_reset.year != 2015]
cars_monthly_16_21 = cars_monthly_reset[cars_monthly_reset.year != 2022]

assert 2015 not in cars_annually_16_21.year.to_list()
assert 2016 in cars_annually_16_21.year.to_list()
assert 2022 not in cars_monthly_16_21.year.to_list()
assert 2021 in cars_monthly_16_21.year.to_list()

#### Step 2.

We want to quickly investigate if the make-year keys are different between these two datasets. The function `difference` or `symmetric_difference` on the `Index` object will allow us to carry out the comparison. First let's create such a composite index made of the `make` and `year` column for both `cars_annually_16_21` and `cars_monthly_16_21`. Store the results in `cars_annually_duo_index` and `cars_monthly_duo_index` respectively:

In [19]:
# hint: use set_index
cars_annually_duo_index = cars_annually_16_21.set_index(['make', 'year'])
cars_monthly_duo_index = cars_monthly_16_21.set_index(['make', 'year'])

assert ('ALFA ROMEO', 2016) in cars_annually_duo_index.index
assert ('VOLVO', 2021) in cars_annually_duo_index.index
assert ('ALFA ROMEO', 2016) in cars_monthly_duo_index.index
assert ('VOLVO', 2021) in cars_monthly_duo_index.index

#### Step 3

Invoke `difference` twice to compare the indexes of the two DataFrame: `cars_annually_duo_index` and `cars_monthly_duo_index`. First invocation is to find what's in the first index but not in the second; then invoke it again to find what's in the second index but not the first.

Alternatively you may invoke `symmetric_difference` once to get the union of all the differences in one go.

In [20]:
# hint: use cars_annually_duo_index.index.difference, or symmetric_difference
cars_annually_duo_index.index.difference(cars_monthly_duo_index.index)

MultiIndex([('Mclaren', 2018),
            ('Mclaren', 2019),
            ('Mclaren', 2020),
            ('Mclaren', 2021)],
           names=['make', 'year'])

In [21]:
# hint: use cars_monthly_duo_index.index.difference or skip this cell if used symmetric_difference before
cars_monthly_duo_index.index.difference(cars_annually_duo_index.index)

MultiIndex([('MCLAREN', 2017),
            ('MCLAREN', 2018),
            ('MCLAREN', 2019),
            ('MCLAREN', 2020),
            ('MCLAREN', 2021)],
           names=['make', 'year'])

In [22]:
# Alternative solution using symmetric_difference
cars_annually_duo_index.index.symmetric_difference(cars_monthly_duo_index.index)

MultiIndex([('MCLAREN', 2017),
            ('MCLAREN', 2018),
            ('MCLAREN', 2019),
            ('MCLAREN', 2020),
            ('MCLAREN', 2021),
            ('Mclaren', 2018),
            ('Mclaren', 2019),
            ('Mclaren', 2020),
            ('Mclaren', 2021)],
           names=['make', 'year'])

#### Step 4

Notice the make Mclaren has two difference spellings. Let's take a look at those records in each dataset by filtering down to just the Mclaren records.

You might find the composite index not the most straightforward to work with. Feel free to do the subsetting on `cars_annually_16_21` and `cars_monthly_16_21` instead.

In [23]:
# hint: use boolean indexing with .str.casefold() on the make column
cars_annually_16_21[cars_annually_16_21.make.str.casefold() == 'mclaren']

        make  year  number
83   Mclaren  2016     5.0
136  Mclaren  2017    10.0
189  Mclaren  2018    23.0
241  Mclaren  2019    21.0
295  Mclaren  2020    16.0
349  Mclaren  2021    28.0

In [24]:
# hint: use boolean indexing with .str.casefold() on the make column
cars_monthly_16_21[cars_monthly_16_21.make.str.casefold() == 'mclaren']

        make  year  number
32   Mclaren  2016     5.0
81   MCLAREN  2017     8.0
86   Mclaren  2017     2.0
135  MCLAREN  2018    23.0
187  MCLAREN  2019    21.0
241  MCLAREN  2020    16.0
294  MCLAREN  2021    28.0

#### Step 5.

Mclaren is Capitalized in the annual dataset but Mixed-CASE in the monthly dataset. Let's unify them by UPPERCASING all the `make` values. Make the changes inplace for both `cars_annually_16_21` and `cars_monthly_16_21`:

In [25]:
# hint: use column creation, but overwrite the 'make' column; check out .str.upper() function
cars_annually_16_21['make'] = cars_annually_16_21.make.str.upper()
cars_monthly_16_21['make'] = cars_monthly_16_21.make.str.upper()

assert(np.all(cars_annually_16_21['make'].str.isupper()))
assert(np.all(cars_monthly_16_21['make'].str.isupper()))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

#### Step 6.

Notice there are two entries with different numbers for MCLAREN 2017 in the monthly dataset, which we will need to fix by aggregating. Store the fixed monthly DataFrame in variable `cars_monthly_16_21_cleaned`, which should look like `cars_monthly_16_21` structurally (i.e. no composite/multi index), just with fewer rows:

In [26]:
# hint: use groupby followed by reset_index or 
# pivot_table followed by melt, dropna, and reset_index

# using groupby
cars_monthly_16_21_cleaned = cars_monthly_16_21\
  .groupby(['make', 'year']).sum()[['number']]\
  .reset_index()

# using melt
cars_monthly_16_21_cleaned = cars_monthly_16_21\
  .pivot_table(index='make', columns='year', values='number', aggfunc='sum')\
  .melt(var_name='year', value_name='number', ignore_index=False)\
  .dropna()\
  .reset_index()

condition = (cars_monthly_16_21_cleaned.make == 'MCLAREN') & (cars_monthly_16_21_cleaned.year == 2017)
assert cars_monthly_16_21_cleaned[condition]['number'].values[0] == 10
assert cars_monthly_16_21_cleaned.shape == (316, 3)

#### Step 7.

With our data re-cleaned, now let's merge `cars_monthly_16_21_cleaned` and `cars_annually_16_21` using the `make` and `year` as keys. Let's perform an outer join this time. Store the merged results in variable `cars_merged_clean`:

In [27]:
# hint: use pd.merge with arguments how="outer"
cars_merged_clean = pd.merge(cars_monthly_16_21_cleaned, cars_annually_16_21, on=['make', 'year'], how='outer')

assert cars_merged_clean.shape == (316, 4)

#### Step 8.

Last but not least, compare the merged numbers for each make-year record. Are they all matching perfectly now?

In [28]:
# hint: use np.all
np.all(cars_merged_clean.number_x == cars_merged_clean.number_y)

True